<!DOCTYPE html>
<html lang="en">
	<head>
        <title>{{ page.title }} | {{ site.author }}</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="keywords" content="data analysis, statistics, visualization, R, programming" />
        <meta name="author" content="Xiao Wang" />
        <meta name="description" content="Website of Xiao Wang, statistical programmer and data scientist" />
        <meta name="viewport" content="width=640px, initial-scale=1.0, maximum-scale=1.0">
        <!-- favicon -->
        <link rel="shortcut icon" href="/images/favicon.png">
        <!-- Google Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400,600" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Vollkorn' rel='stylesheet' type='text/css'>
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css" type="text/css" media="screen, projection" />
	</head>
	<body>


		{{content}}


	</body>
</html>